.cart-icon__wrapper {
  position: relative;
}
.icon-mask {
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: #000000;
}
.s-30 {
  font-size: 30px;
}
.s-40 {
  font-size: 40px;
}
.s-50 {
  font-size: 50px;
}
.c-w {
  color: #ffffff;
}
