.main-btn__wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.main-btn {
  margin: 0 auto;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}
.main-btn:focus {
  box-shadow: none;
}
.pri-btn {
  background: #ff7077;
}
.pri-btn:hover {
  background-color: #fc9fa4;
}
.cart-button {
  width: 100%;
  margin: 5px 0;
}
